.gray1{
    color:#ffffff
}
header{
    background-color: #535353; 
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center; 
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.gray{
    color: #999999;
    text-indent : 15px;
    font-family:'Courier New', Courier, monospace
}
.headline{
    border-left: 4px solid gray;
    padding-left: 10px;
}
.red{
    background: red;
    color: white;
}
.yellow{
    background: yellow;
    color: black;
}
.blue{
    background: blue;
    color: white;
}
.orange{
    background: orange;
    color: white;
}
.green{
    background: green;
    color: white;
}
.purple{
    background: purple;
    color: white;
}
